body {
	min-width: 768px;
	max-width: 1200px;
	background-color: #ffffff;
	color: #000000;
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 0;
}

body a  {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}

.visually-hidden {
	display: none;
}

.main-navigation {
	position: relative;
	margin: 0;
	padding: 0;
}

.main-header-logo {
	position: absolute;
	top: -5px;
	left: 532px;
	z-index: 999;
}

.site-navigation {
	display: flex;
	justify-content: space-between;
	margin-top: 2px;
	margin-bottom: 10px;
	padding: 0;
	list-style: none;
}

.site-navigation-item {
	display: inline-block;
	vertical-align: top;
	padding: 10px;

}

.info-item {
	margin-left: 62px;
}

.catalog-item {
	margin-right: 60px;
}

.photo-video-item {
	margin-right: 240px;
}

.price-item {
	margin-right: 20px;
}

.main-fond {
  background: url("../img/bg-mountains.jpg") no-repeat;
	width: 1200px;
	height: 780px;
}


.main-greeting {
	display: block;

	margin: 0 auto;

}

.main-greeting-banner {
	display: block;
	vertical-align: top;
	width: 450px;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	margin: 0 auto;

	margin-bottom: 25px;
}

.main-greeting-description {
	display: block;
	vertical-align: top;
	width: 490px;
	text-align: center;
	font-size: 14px;
	line-height: 26px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.first-features {
	display: flex;
	justify-content: space-between;

	min-height: 256px;
	margin-bottom: 135px;
	margin-top: -75px;
}

.first-features-wrapper {
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
	padding-top: 20px;
	height: 256px;
	box-sizing: border-box;
}


.first-features-description {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.feature {
	position: relative;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 70px;
}

.feature-head {
	font-size: 21px;
	margin-bottom: 25px;
}

.house {
	width: 280px;
	margin-left: 57px;
	padding-top: 1px
}

.house::before {
	content: "";
	position: absolute;
	top: -78px;
	left: 105px;
	width: 76px;
	height: 72px;
	background: url("../img/icon-home.svg");
}

.food {
	width: 290px;
}

.food::before {
	content: "";
	position: absolute;
	top: -78px;
	left: 105px;
	width: 76px;
	height: 70px;
	background: url("../img/icon-food.svg");
}

.souvenir {
	width: 280px;
	margin-right: 62px;
}

.souvenir::before {
	content: "";
	position: absolute;
	top: -78px;
	left: 105px;
	width: 64px;
	height: 76px;
	background: url("../img/icon-souvenir.svg");
}

.second-features {
	display: flex;
	justify-content: space-between;
	min-height: 256px;
}

.second-features-wrapper {
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
	padding-top: 20px;
	height: 256px;
	box-sizing: border-box;

}


.others-features {
	display: flex;
	justify-content: space-between;
	background-color: #eeeeee;
	padding-top: 50px;
	padding-bottom: 30px;
}

.advantages-wrapper {
	width: 400px;
	text-align:justify;
}

.caption {
	text-align: center;
	font-size: 21px;
	line-height: 21px;
	padding-top: 20px;
	box-sizing: border-box;
	font-weight: bold;
}

.advantages-number {
	display: block;
	font-size: 14px;
	line-height: 21px;
	margin: 0 auto;

	text-align: center;
}

.advantages {
	font-size: 14px;
	line-height: 21px;
	margin: 0 auto;
	width: 280px;
	text-align: center;
}



.indefication-of-needs {
	text-align: center;
	margin-top: 85px;
	font-size: 30px;
	line-height: 30px;
}

.offer {
	width: 450px;
	font-size: 14px;
	line-height: 23px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 50px;
}

.pre-order {
	position: relative;
}

.pre-order .search-btn {
	display: block;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	width: 580px;
	margin: 0 auto;
	color: #ffffff;
	background-color: #766357;
	padding: 25px 140px;
}

.search-form  {
	position: absolute;
	top: 235px;
	left: 310px;
	width: 580px;
	height: 400px;
	background-color: #ffffff;
	box-sizing: border-box;

}

.data-arrival {
	display: flex;
	justify-content: space-between;
	width: 455px;
	margin: 60px auto;
	margin-bottom: 0;

}

.arrival-data {
	width: 345px;
	background-color: #f2f2f2;
}

.date-of-departure {
	display: flex;
	justify-content: space-between;
	width: 455px;
	margin: 45px auto;
}

.date-departure {
	width: 345px;
	background-color: #f2f2f2;
}

.number-tourists {
	display: flex;
	justify-content: space-between;
	width: 455px;
	margin: 10px auto;

}
.number-tourists-adult {
	display: flex;
	justify-content: space-between;
}

.number-tourists-child {
	display: flex;
	justify-content: space-between;
}

.counter-visitors {
	background-color: #f2f2f2;
	width: 120px;
}

.search-submit {
	display: block;
	width: 455px;
	height: 60px;
	background-color: #5496bd;
	color: #fff;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	margin: 10px auto;
	margin-top: 60px;

}

.filter-search {
	display: flex;
	justify-content: space-around;
	font-size: 14px;
	line-height: 21px;
	width: 1200px;
	height: 220px;
	background: #5496bd url("../img/filter-background.jpg");
	color: #fff;
	background-size: cover;
}

.filter-search input[type="checkbox"] {
	display: none;
	position: relative;
}

.sorting-block {
	border: none;
	margin-top: 25px;
	margin-left: 65px;
}

.sorting-criteria {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	margin-bottom: 25px;
	text-transform: uppercase;
}

.sort-item {
  position: relative;
	margin-bottom: 30px;
  padding-left: 30px;
  cursor: pointer;
}

.sort-item::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 2px;
  width: 24px;
  height: 24px;

  background: url("../img/checkbox-off.svg") no-repeat; ;
}
/* ДОДЕЛАЙ ЧЕКБОКС*/

.filter-range {
  width: 330px;
  margin: 50px auto;
}

.filter-range-title {
	margin-bottom: 9px;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}


.price-controls::after {
  content: "";
  position: absolute;
	top: 50%;
	left: 50%;
  width: 2px;
  height: 22px;

  background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
	 position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
	border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;

}

.range-toggle:hover {
  background: #1c4f80;
}


.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
	width: 100px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.search-response {
	display: flex;
	justify-content: space-around;
	border-bottom: 2px solid #e5e5e5;
	padding-bottom: 25px;
}

.sort-in {
	display: flex;
	justify-content: space-between;
	width: 250px;
	padding-top: 20px;
}

.sort-up-down {
	width: 500px;
	text-align: right;
	padding-top: 20px;
}

.amara-resort-block {
	display: flex;
	justify-content: space-around;
	border-bottom: 2px solid #e5e5e5;
	padding-bottom: 25px;
	padding-top: 20px;
}

.desert-quail-block {
	display: flex;
	justify-content: space-around;
	border-bottom: 2px solid #e5e5e5;
	padding-bottom: 25px;
	padding-top: 20px;
}

.villas-poco-block {
	display: flex;
	justify-content: space-around;
	border-bottom: 2px solid #e5e5e5;
	padding-bottom: 25px;
	padding-top: 20px;
}

.hotels-wrap {
	display: flex;
}

.hotel-block {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.price-block {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.rating-block {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: flex-end;
	width: 600px;
}

.main-footer {
	display: flex;
	justify-content: space-between;
}

.name-site {
	width: 400px;
	text-align: center;
	padding: 35px;
}

.social {
	position: relative;
	width: 400px;
}

.social-list {
	width: 100%;
	list-style: none;

}

.social-list-item {
	display: inline-block;
	margin-right: 5px;

}

.social-icon {
		position: relative;
	display: block;
  padding: 8px 20px;
	font-size: 0;
}

.twitter {
	content: "";
	position: absolute;
	background: #5496bd url("../img/twitter.svg") no-repeat 50% 50% ;
}

.twitter-icon {
	fill: #fff;
}

.facebook {
	content: "";
	position: absolute;
	top: 32px;
	left: 90px;
	background: #5496bd url("../img/fb-icon.svg") no-repeat 50% 50% ;
}

.youtube {
	content: "";
	position: absolute;
	top: 32px;
	left: 140px;
	background: #5496bd url("../img/youtube.svg") no-repeat 50% 50% ;
}

.youtube:hover {
	fill: red;
}


.copyright {
	position: relative;
	display: flex;
	width: 400px;
	margin-top: 25px;
	padding-top: 10px;
}

.copyright-link svg {

}
