body {
	min-width: 768px;
	max-width: 1200px;
	background-color: #ffffff;
	color: #000000;
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 0;
}

body a  {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}

.visually-hidden {
	display: none;
}

.main-navigation {
	position: relative;
	margin: 0;
	padding: 0;
}

.main-header-logo {
	position: absolute;
	top: -5px;
	left: 532px;
	z-index: 999;
}

.site-navigation {
	display: flex;
	justify-content: space-between;
	margin-top: 2px;
	margin-bottom: 10px;
	padding: 0;
	list-style: none;
}

.site-navigation-item {
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	
}

.info-item {
	margin-left: 62px;
}

.catalog-item {
	margin-right: 60px;
}

.photo-video-item {
	margin-right: 240px;
}

.price-item {
	margin-right: 20px;
}



.main-greeting {
	display: block;
	background: url("../img/bg-mountains.jpg");
	width: 1200px;
	height: 780px;
	margin: 0 auto;
	padding-top: 75px;
}

.main-leed {
	display: block;
	vertical-align: top;
	width: 450px;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	margin: 0 auto;
	margin-top: 530px;
	margin-bottom: 25px;
}

.leed-description {
	display: block;
	vertical-align: top;
	width: 490px;
	text-align: center;
	font-size: 14px;
	line-height: 26px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.first-features {
	display: flex;
	justify-content: space-between;
	
	min-height: 256px;
	margin-bottom: 135px;
	margin-top: -75px;
}

.first-features-wrapper {
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
	padding-top: 20px;
	height: 256px;
	box-sizing: border-box;
}


.first-features-description {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.feature {
	position: relative;
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 70px;
}

.feature-head {
	font-size: 21px;
	margin-bottom: 25px;
}

.house {
	width: 280px;
	margin-left: 57px;
	padding-top: 1px
}

.house::before {
	content: "";
	position: absolute;
	top: -78px;
	left: 105px;
	width: 76px;
	height: 72px;
	background: url("../img/icon-home.svg");
}

.food {
	width: 290px;
}

.food::before {
	content: "";
	position: absolute;
	top: -78px;
	left: 105px;
	width: 76px;
	height: 70px;
	background: url("../img/icon-food.svg");
}

.souvenir {
	width: 280px;
	margin-right: 62px;
}

.souvenir::before {
	content: "";
	position: absolute;
	top: -78px;
	left: 105px;
	width: 64px;
	height: 76px;
	background: url("../img/icon-souvenir.svg");
}

.second-features {
	display: flex;
	justify-content: space-between;
	min-height: 256px;
}

.second-features-wrapper {
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
	padding-top: 20px;
	height: 256px;
	box-sizing: border-box;
	
}


.others-features {
	display: flex;
	justify-content: space-between;
	background-color: #eeeeee;
	padding-top: 50px;
	padding-bottom: 30px;
}

.third-features-wrapper,
.fourth-features-wrapper,
.fifth-features-wrapper {
	text-align: center;
	padding-top: 20px;
	box-sizing: border-box;
}




.indefication-of-needs {
	text-align: center;
	margin-top: 85px;
	font-size: 30px;
	line-height: 30px;
}

.offer {
	width: 450px;
	font-size: 14px;
	line-height: 23px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 50px;
}

.pre-order .search-btn {
	display: block;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	width: 580px;
	margin: 0 auto;
	color: #ffffff;
	background-color: #766357;
	padding: 25px 140px;
}

.main-footer {
	display: flex;
	justify-content: space-between;
}

.name-site {
	width: 400px;
	text-align: center;
	padding: 35px;
}

.social {
	position: relative;
	width: 400px;
}

.social-list {
	width: 100%;
	list-style: none;
	
}

.social-list-item {
	display: inline-block;
	margin-right: 5px;
	
}

.social-icon {
		position: relative;
	display: block;
  padding: 8px 20px;
	font-size: 0;
}

.twitter {
	content: "";
	position: absolute;
	background: #5496bd url("../img/twitter-icon.svg") no-repeat 50% 50% ;	
}

.facebook {
	content: "";
	position: absolute;
	top: 32px;
	left: 90px;
	background: #5496bd url("../img/facebook-icon.svg") no-repeat 50% 50% ;	
}

.youtube {
	content: "";
	position: absolute;
	top: 32px;
	left: 140px;
	background: #5496bd url("../img/youtube-icon.svg") no-repeat 50% 50% ;	
}

.youtube:hover {
	fill: red;
}


.copyright {
	display: flex;
	width: 400px;
}

